@import "tailwindcss";

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.header{
    padding: 10px;
    margin: 15px;
    font-size: 2.5rem;
    
}

.body-container{
    background-color: rgb(206, 187, 219);
}

.idea-card {
    overflow: hidden;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    background: #eae3e3;
    border-Radius: "8px";
    margin-Bottom: "15px"
}

.idea-card img{
    width: "300px";
    border-Radius: "50%";
    overflow: hidden;
    
}

.vote-buttons button {
    margin-right: 0.5rem;
    width: 100px;
    height: 30px;
    
}

.button{
    color: white;
    cursor: pointer;
    border-radius: 2rem;
    transition: all 0.3s ease;
   
}

.button:hover{
    transform: translate(auto 5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

#up-btn{
    background-color: rgb(23, 161, 5);

}

#down-btn{
    
    background-color: rgb(200, 78, 78);

}

@media (max-width: 600px) {
    .idea-card {
        padding: 12px;
    } 
}

.vote-buttons{
    flex-direction: column;
    gap: 20px;
}

.button{
    width: 100%;
     gap: 15px;
    
}

h3{
    font-size: 1.1rem;
}

p{
    font-size: 0.9rem;
}

